@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,600,700,800");

/*
	Geek Wisdom Themeable Template
	Released for free under the Creative Commons Attribution 3.0 license (https://creativecommons.org/licenses/by/3.0/)
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}


/* Common Styles for Basic HTML Tags */

	body {
		font-size: 15px;
                font-family: Verdana,sans-serif;
               color:#000;
		-webkit-text-size-adjust: none;
		overflow: hidden;
		background-color: #fff;
		color: #14171a;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}


/**** HTML5 STYLES ****/
/**********************/

main {position:relative;top: 25px;width:55%;max-height:500px;float:left;padding:5px;overflow-y: auto;}


 section {
    width:350px;
    float:left;
     padding:10px; 
}
footer {
    position:relative;
    bottom: -100px;
    color:#5DBCD2;
    font-size: 80%;
    clear:both;
    text-align:center;
     padding:5px; 
} 


/* Main Header at top of page */

@-webkit-keyframes FuzzLogo {
  from {-webkit-filter: blur(30px); -moz-filter: blur(30px);
-o-filter: blur(30px); -ms-filter: blur(30px); 
filter: url(#blur); filter: blur(30px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');}
  to {-webkit-filter: blur(0px); -moz-filter: blur(0px);
-o-filter: blur(0px); -ms-filter: blur(0px); 
filter: url(#blur); filter: blur(0px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');}
}

@keyframes FuzzLogo {
  from {-webkit-filter: blur(30px); -moz-filter: blur(30px);
-o-filter: blur(30px); -ms-filter: blur(30px); 
filter: url(#blur); filter: blur(30px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');}
  to {-webkit-filter: blur(0px); -moz-filter: blur(0px);
-o-filter: blur(0px); -ms-filter: blur(0px); 
filter: url(#blur); filter: blur(0px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');}
}



.HeaderDiv {
animation: FuzzLoo 3s 1;
-webkit-animation: FuzzLogo 3s 1;
background-image: url('gw_day_theme/img/gwbanner.png');
width:100%;
height:100px; 
background-color:transparent; 
background-repeat:no-repeat; 
border-bottom: 1px solid #D0D0D0;
left:0px; 
top:0px;

}



.HeaderTitle {
font-size:1.1em; 
color:#5DBCD2; 
font-weight:bold; 
text-align:center; 
margin-top:10px; 
margin-bottom:10px;
}
.HeaderSubTitle {
font-size:.9em; 
color:#5DBCD2; 
font-weight:bold; 
text-align:center; 
margin: 0px 0px 8px 0px}

/* Styles for the TOP NAVIAGTION BAR */

nav {overflow: hidden;background-color: white;position: fixed; /* Set the navbar to fixed position */top: 112px; /* Position the navbar at the top of the page */left: 128px;padding: 10px;width: 100%; /* Full width */}

.topnav {
    background-color: #fff;
    width:80%;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #262626;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: none;
  font-size:14px;
  text-decoration:underline;
  border-radius: 5px;
 -webkit-transition: font-size 2s;
 -moz-transition:  font-size 2s;
  -o-transition:  font-size 2s;
   transition:  font-size 2s;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: grey;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


.topmenu ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;  
  font-size:13px;
  border-top:4px solid transparent;
  transition: padding .4s ease;
  opacity: 0.5;
}

.topmenu li { float: left; }

.topmenu li a {display: block;font-size:13px;color: #262626;text-align: center;padding: 2px 10px;text-decoration: none;

}

.topmenu li a:hover:not(.active) {

   text-shadow: none;
  font-size:14px;
  text-decoration:underline;
  border-radius: 5px;
 -webkit-transition: font-size 2s;
 -moz-transition:  font-size 2s;
  -o-transition:  font-size 2s;
   transition:  font-size 2s;
}



li.selected a {
	font-size:14px;
	text-shadow: none;
  text-decoration:none;
  border-bottom: 2px solid black;
}


/* Standard Tables (eg: used for videos */

.gwTable
{
padding: 15px;
}

.gwTable td
{
padding: 5px;
}

.gwFrameBorder
{
 border: 1px solid black;
}
.gwFrameBorder td {
 vertical-align:top;
}
.gwTop {
 vertical-align:top;
}



/*****************************************************************/
/* Styles for the SIDE MENU BAR					*/


aside {
    
position:relative;
    
background-color: white;
    
line-height:30px;
    
width:125px;
    
float:left;
    
padding:5px;
    
transition: 0.5s;
}



li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}





.MenuitemTitle
{
    
padding-top:12px;
    
list-style-type: none;
    
color: grey !important;
    
float: left;
    
width:100%;
    
text-align:center;
    
font-weight:bold;
}

.MenuitemHeader
{
    
color: black;
    
list-style-type: none;
    
float: left;
    
text-align:center;
    
width:100%;
    
font-weight:bold;
    
font-size:small;
    
line-height:normal;
    
padding-top:30px;
    
padding-bottom:10px;
}

.MenuitemList
{
    
    list-style: none; 
    padding: 0;
    margin: 0;
    list-style-position:outside;
    
}
.MenuitemSpace
{
  
	float: left;

    width:100%;
    text-align:center;
    font-weight:bold;
    height:40px;
    
}
.Menuitem
{
    list-style-type: none;
    float: left;
    text-align:center;
    width:100%;
    padding: 0;
    margin: 0;
    font-weight:initial;
    font-size:small;
}

.MenuitemList li a
 {display: block;color: black;text-align: center;padding: 5px 5px;}

.MenuitemList li a
 {
 text-decoration:none;
 }

.MenuitemList li a:hover:not(.active) {

   text-shadow: none;
  text-decoration:underline;
  border-radius: 5px;
  

}


.menuLogOut
{
     
float: left;
    background-color:white;
    text-align:left;
    width:96%;
    padding: 0;
    padding-left:5px;
    margin: 0;
     font-weight:initial;
     font-size:small;
}

header {
    margin: 0;
    padding: 0;
    
    color:#00FFFF;
    text-align:center;
    
}
li {
   /* float: left;*/
}


/************************************************************/
/* MODERN BROWSER STYELS                                    */
/************************************************************/

div {
display: block;
}
p {

 display: block;
 margin-top: 1em;
 margin-bottom: 1em;
 margin-left: 0;
 margin-right: 0; 
}
h1 {color: #000;display: block;font-family:"Times New Roman", Times, serif;
font-size: 38px;margin-top: 0.67em;margin-bottom: 0.67em;margin-left: 0;margin-right: 0;font-weight: bold;
-webkit-transition: color 2s, font-size 2s;
       -moz-transition: color 2s, font-size 2s;
         -o-transition: color 2s, font-size 2s;
            transition: color 2s, font-size 2s;

}

h2 {
display: block;
font-family:"Times New Roman", Times, serif;
font-size: 18px;
 margin-top: 0.83em;
 margin-bottom: 0.83em;
 margin-left: 0;
 margin-right: 0;
 font-weight: bold;
}

h3  {

color:#66757f;
font-family:"Times New Roman", Times, serif;
display: block;
 font-size: 1.17em;
 margin-top: 1em;
 margin-bottom: 1em;
 margin-left: 0;
 margin-right: 0;
 font-weight: bold;
}

/************************************************************/
/* STYLSE FOR REALLY OLD BROWSERS OR IF JAVASCRIPT DISABLED */
/************************************************************/
.oldStyle
 {
position:relative;
background-image:none;
background-color:#C0C0C0;
color:black;
 }

div.oldStyle 
 {
position:absolute;
  top:0px;
  width:100%;
  height:100vh;
  min-height: 100%; 
 }
a.oldStyle:link { color:pink; }
a.oldStyle:hover { color:blue; }
a.oldStyle.a:active { color:green; }
a.oldStyle.a:visited { color:pink; }


h1.oldStyle {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


h2.oldStyle {
display: block;
font-size: 1.5em;
margin-top: 0.83em;
margin-bottom: 0.83em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}

p.oldStyle {
display: block;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
}

/****   RSS Scroller *****

#pscroller1{
width: 450px;
height: 1.2em;
border: 1px dashed black;
padding: 5px;
background-color: lightyellow;
}

#pscroller2{
width: 400px;
height: 150px;
border: 1px solid black;
padding: 5px;
background-color: #F0F0F0;
}

.rssclass .rsstitle{
font-weight: bold;
}

.rssclass .rssdate{
color: gray;
font-size: 85%;
}

.rssclass a{
text-decoration: none;
}


/* 
    These are the main styles used in the Geek Wisdom Grid View
    This needs to be added to gw-day-theme.css and another to gw-theme.css
*/
.gwGridTable {
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border:1px solid #ddd;
    border-top-right-radius:3px;
}
.gwGridRow {
height: 10px;
vertical-align: bottom;
text-align: left;
padding: 8px;
border-top:1px;
border-top-right-radius:3px;
border-bottom: 2px solid #ddd;
}

.gwGridSelect:active
{
 color: #000000;
 text-decoration: none;
}
.gwGridSelect:visited
{
 color: #000000;
 text-decoration: none;
}
.gwGridSelect:hover
{
 color: red;
 text-decoration: none;
}

.gwGridselectedTR
{
border-top:1px;

height: 10px;
 vertical-align: bottom;
 text-align: left;
 padding: 8px;
 border-bottom: 2px solid #ddd;
 background-color: Orange;
}

.gwGridview
{
height: 10px;
padding: 8px;
border-bottom: 2px solid #ddd;

}

.gwGridTR:nth-child(even) {background-color: #FAFDFF}

.gwGridTR:hover {
background-color: #ECF6FD;
}



.gwGridhead {
background-color: #FAFDFF;
height: 10px;
text-align: left;
padding: 8px;
border-bottom: 2px solid #ddd;
}
.SOLsearch {
border: 0px;
}
.ErrorMessage
{
    position:absolute;
    left:400px;
    color:red;
}

/* Modal Stuff */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


